.missionWrapper {
  background-color: wheat;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 5em 1em;
  background-image: url("../../../Images/mission_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  > div {
    flex-grow: 1;
  }
  .contentDiv {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }
}
