.aboutWrapper {
  display: flex;
  max-width: 1100px;
  justify-content: center;
  margin: auto;
  gap: 3.5em;
  padding: 5em 0;
  .div1 {
    .comBadge {
      color: #22a6b3;
      background-color: #c7ecee;
      padding: 0.35em 0.75em;
      border: none;
      border-radius: 5px;
      font-size: 0.75em;
      font-weight: bold;
    }
    > h2 {
      max-width: 25ch;
      margin: 1em 0;
    }
    > p {
      max-width: 75ch;
      color: #8492a6;
    }
    > a {
      color: #22a6b3;
      background-color: #c7ecee;
      border: 1px solid #c7ecee;
      padding: 0.5em 1em;
      border-radius: 5px;
      transition: all 0.35s;
      &:hover {
        background-color: #22a6b3;
        color: white;
        text-decoration: none;
      }
    }
  }
  .div2 {
    > img {
      max-width: 475px;
    }
  }
}
